---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro">
	<main>
		<section class="flex flex-col w-full items-center">
			<p class="text-red-700 font-bold text-3xl my-5">Home</p>
			<a class="text-blue-300 underline" href="/other/">To Other</a>
		</section>
	</main>
</Layout>